body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}

h1 {
    margin: 0;
    margin-bottom: 1rem;
    font-size: 3rem;
}

.input {
    border: 1px solid #ddd;
    border-radius: .3em;
    padding: .25rem;
    width: 7em;
    font-size: 1.8rem;
}

.equal {
    font-size: 2rem;
    font-weight: bold;
}

select {
    margin-left: .5rem;
    font-size: 1.7rem;
    border: 1px solid #ddd;
    border-radius: .3em;
}